@media (max-width: 1600px) {
    .area_with_offset.switch .shape img {
        width: 650px;
    }
    .tab-pane {
        height: 650px !important;
    }
}

@media (max-width: 1350px) {
    .area_with_offset .w-50:last-child {
        margin-top: 100px !important;
    }
    .area_with_offset.switch .w-50:last-child {
        padding-left: 60px;
    }
    .shape img {
        width: 100% !important;
        position: relative;
        right: 0;
        top: 0;
    }
    .shape {
        width: 50%;
    }
    #jumbotron {
        height: 650px;
    }
    #jumbotron .container {
        padding-top: 100px;
    }
}

@media (max-width: 1200px) {
    .area_with_offset h1 {
        font-size: 50px;
    }
    .tab-pane {
        height: 550px !important;
    }
}

@media (max-width: 991.98px) {
    .navbar_social {
        display: block;
    }
    #header.fixed {
        background: #ffffff;
        height: 80px;
    }
    #header .logo {
        position: absolute;
        left: 10%;
        z-index: 999999;
    }
    #header .header-content {
        width: 90%;
    }
    .nav-toggle {
        display: block;
    }
    .navigation {
        position: fixed;
        background-color: #111633f5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }
    .navigation .primary-nav {
        position: relative;
        width: 90%;
        margin: auto;
        top: 25%;
        transform: translateY(-25%);
    }
    .navigation .nav-item {
        display: block;
        padding: 17px 0;
        margin-left: 0 !important;
        border-top: solid 1px #ffffff38;
    }
    .navigation .nav-item:last-child {}
    .navigation .nav-link {
        display: block;
        font-size: 20px;
        padding: 0;
        margin: 0;
        text-align: center;
        color: #ffffffb8;
        letter-spacing: 4px;
    }
    .navigation .nav-link.btn {
        background: transparent;
        border-color: #ffffff;
        box-shadow: none;
        text-transform: uppercase !important;
    }
    .navigation .nav-link.btn:hover,
    .navigation .nav-link.btn:focus {
        color: #ffffff !important;
    }
    .area_with_offset.switch .w-50:last-child {
        padding-left: 0 !important;
    }
    .tab-pane {
        height: 100% !important;
        padding-bottom: 200px;
    }
    .area_with_offset.switch .w-50:last-child {
        margin-left: 0 !important;
    }
    .area_with_offset .w-50:last-child {
        margin-top: 0 !important;
    }
    .area_with_offset.switch .shape {
        position: relative;
        top: 15%;
        left: 0;
    }
    .area_with_offset.switch .shape img {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
    }
    .area_with_offset.switch .shape {
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-right: 25%;
    }
    .shape {
        width: 100%;
        position: relative;
        top: 2%;
        right: 0;
        padding-top: 150px;
        padding-left: 25%;
    }
    #jumbotron {
        height: 100%;
    }
    #jumbotron .container {
        padding-bottom: 100px;
    }
}

@media (max-width: 767px) {
    .footer_logo {
        width: 100% !important;
        text-align: center;
    }
    .footer_links {
        margin: auto !important;
        padding: 20px 0;
        justify-content: space-between !important;
        flex-direction: column;
        text-align: center;
    }
    .footer_link {
        margin: 10px 0 !important;
    }
    .footer_social {
        float: none !important;
        justify-content: center;
    }
    .footer_social li:nth-child(1) {
        margin-left: 0 !important;
    }
}

@media (max-width: 600px) {
    .title_bar p {
        width: 90%;
    }
    #nav-tab {
        flex-direction: column;
    }
    #nav-tab .nav-link {
        padding: 10px 0;
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .tab-pane {
        height: 670px !important;
    }
    .shape {
        width: 100%;
        position: relative;
        top: 2%;
        right: 0;
        padding-left: 25%;
    }
    .empty_col {
        display: none;
    }
    .area_with_offset.switch .w-50:last-child {
        margin: auto !important;
        text-align: center;
    }
    .area_with_offset.switch .w-50:last-child {
        top: 50px;
    }
    .area_with_offset .w-50:last-child {
        width: 90% !important;
        margin: auto;
    }
    #jumbotron .container {
        text-align: center;
        padding-top: 50px;
    }
    h1 {
        font-size: 40px !important;
    }
    h3 {
        font-size: 30px !important;
    }
    p {
        font-size: 1.1rem;
    }
    #contact h2 {
        font-size: 30px;
        width: 90%;
        margin: auto;
    }
    #contact .d-flex {
        flex-direction: column;
    }
    #contact .form-group div:nth-child(1),
    #contact .form-group .btn {
        width: 90% !important;
        margin: auto;
    }
    #contact .form-group .mr-3 {
        margin-right: auto !important;
    }
    #contact .form-group .btn {
        padding: 15px 30px !important;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px !important;
    }
    .btn {
        padding: 10px !important;
    }
    .title_bar h3 {
        font-size: 30px !important;
    }
}

@media (max-width: 380px) {
    .area_with_offset .w-50:last-child {
        width: 100% !important;
    }
}