/*
-------------------------------------------
File Name: style.css
Created By: AnisMedia
Website: Bookmark
Version: 1.0
------------------------------------------- 
*/

@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&display=swap");

/*
-------------------------------------------
GLOBAL 
------------------------------------------- 
*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

:root {
    --primary-font: "Heebo", sans-serif;
    --primary-color: #4e62d3;
    --secondary-color: #fb5d5e;
    --light-black: #989898;
    --dark-black: #070a1d;
    --light: #ffffff;
}

body {
    font-family: var(--primary-font);
    background-color: var(--light);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

.no-scroll {
	position: fixed;
	overflow: hidden;
}

.btn {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 400 !important;
    text-transform: none !important;
    letter-spacing: 1px;
    color: #ffffff !important;
    padding: 15px 30px !important;
    border: solid 2px var(--primary-color);
    transition: all 0.4s ease;
    -webkit-box-shadow: 0px 10px 23px -5px rgba(122, 122, 122, 1);
    -moz-box-shadow: 0px 10px 23px -5px rgba(122, 122, 122, 1);
    box-shadow: 0px 10px 23px -5px rgba(122, 122, 122, 1);
}

.btn.btn_secondary {
    background-color: var(--secondary-color);
    border: solid 2px var(--secondary-color);
}

.btn.btn_white {
    background-color: white;
    border: solid 2px white;
    color: var(--dark-black) !important;
}

.btn:hover,
.btn:focus {
    background: transparent;
    color: var(--primary-color) !important;
}

.btn.btn_secondary:hover,
.btn.btn_secondary:focus {
    color: var(--secondary-color) !important;
}

.btn.btn_white:hover,
.btn.btn_white:focus {
    color: var(--dark-black) !important;
    border-color: var(--dark-black) !important;
}

.section_area {
    padding-bottom: 120px;
}

.section_area.pt {
    padding-top: 120px;
}

.title_bar p {
    width: 600px;
    margin: auto;
}

.pt-7 {
    padding-top: 70px;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}


/*
-------------------------------------------
TYPOGRAPHY 
------------------------------------------- 
*/

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: var(--light-black);
}


/*
-------------------------------------------
NAVBAR 
------------------------------------------- 
*/




/*
-------------------------------------------
VECTOR SHAPES 
------------------------------------------- 
*/

#header {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 40px 0;

}


#header .logo {
	margin-top: 10px;
}


#header.fixed {
	background-color: var(--light);
	padding: 20px 0;
	-webkit-box-shadow: 0px 10px 39px -20px rgba(133,133,133,1);
-moz-box-shadow: 0px 10px 39px -20px rgba(133,133,133,1);
box-shadow: 0px 10px 39px -20px rgba(133,133,133,1);
}
#header.fixed .header-content {
	
}
#header.fixed .nav-toggle {
	top: 18px;
}
.navigation.open {
	opacity: 1;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.navigation .nav-item {
	display: inline-block;
	margin-left: 15px;


}
.navigation .nav-link {
	color: var(--light-black);
	font-family: var(--primary-font);
    font-size: 0.9rem;
    font-weight: 400 !important;
    letter-spacing: 1px;
    color: #2d2d2d;
    position: relative;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.navigation .nav-link.btn {
	padding: 10px 30px !important;
}


.navigation .nav-link:hover, 
.navigation .nav-link.active {
	color: var(--secondary-color);
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 10%;
	text-indent: 100%;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	transition: all 0.5s;
}

.nav-toggle span {
	background-color: #242A45;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 25px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #242A45;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}


.logo.active path {
		fill: #ffffff;
	}


	.logo.active circle {
		fill: #ffffff;
	}

	.logo.active circle ~ path{
		fill: #111633f5;
	}



.navbar_social {
	width: 100px;
	display: none;
}
.navbar_social li {
	margin: 0 10px;
}





/*
-------------------------------------------
JUMBOTRON 
------------------------------------------- 
*/

#jumbotron {
    height: 800px;
    position: relative;
}

#jumbotron .container {
    padding-top: 250px;
}

.shape {
    width: 30%;
    position: absolute;
    top: 25%;
    right: 0;
}

.shape img {
    width: 700px;
    position: absolute;
    right: 0;
    top: 0;
}

.area_with_offset.switch .shape img {
    width: 800px;
    position: absolute;
    left: 0;
    top: 0;
}

.area_with_offset .w-50:last-child {
    margin-right: 50%;
}

.area_with_offset.switch .w-50:last-child {
    margin-left: 50%;
    top: 100px;
}

.area_with_offset.switch .shape {
    position: absolute;
    top: 15%;
    left: 0;
}

.tab_content_wrapper {
    position: relative;
}






/*
-------------------------------------------
TABS 
------------------------------------------- 
*/

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: 500;
}

.nav-tabs .nav-link {
    color: #6f6f6f;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: white white white;
    border-bottom-color: #dee2e6;
}

.tab-pane {
    padding-top: 60px;
    height: 750px;
}


/*
-------------------------------------------
CARDS 
------------------------------------------- 
*/

.download_card {
    padding: 60px 0;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 24px -2px rgba(181, 181, 181, 1);
    -moz-box-shadow: 0px 10px 24px -2px rgba(181, 181, 181, 1);
    box-shadow: 0px 10px 24px -2px rgba(181, 181, 181, 1);
}

.download_card h5 {
    padding-top: 40px;
}

.card_divider {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

#download_section .col-lg-4:nth-child(2) .download_card {
    top: 50px;
}

#download_section .col-lg-4:nth-child(3) .download_card {
    top: 100px;
}


/*
-------------------------------------------
ACCORDION 
------------------------------------------- 
*/

#accordionExample {
    width: 100%;
}

.accordion .card {
    border: none;
    margin-bottom: 20px;
}

.accordion .card h2 {
    background: url(../images/icon-arrow-up.svg) no-repeat calc(100% - 10px) center;
    background-size: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-black);
}

.accordion .card p {
    color: #585858;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 0 !important;
}

.accordion .card-head {
    border-bottom: 1px solid #dedede;
    padding: 20px 0;
}

.accordion .card h2.collapsed {
    background-image: url(../images/icon-arrow.svg);
}

.accordion .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}


/*
-------------------------------------------
FOOTER 
------------------------------------------- 
*/

.footer {
    background: #212958;
    padding: 20px 0;
}

.footer_logo {
    width: 170px;
}

.footer_links {
    margin-top: 3px;
    margin-left: 80px;
}

.footer_link {
    margin-right: 40px;
}

.footer_link a {
    font-family: var(--primary-font);
    font-size: 0.9rem;
    font-weight: 400 !important;
    letter-spacing: 1px;
    color: white;
    transition: 0.3s ease;
}

.footer_link a:hover,
.footer_link a:focus {
    color: var(--secondary-color);
}

.footer_social li {
    margin-left: 30px;
}

#footer_logo path {
    fill: #ffffff;
}

.social_icon path {
    transition: 0.3s ease;
}

.social_icon:hover path,
.social_icon:focus path {
    fill: var(--secondary-color);
}

#contact {
    background: var(--primary-color);
}

.contact_header h6 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.contact_header h2 {
    color: white;
    margin-top: 40px;
}

#contact_form .form-control {
    padding: 13.5px 20px !important;
    border: solid 2px white;
    widows: 100%;
}

#contact_form .btn:hover,
#contact_form .btn:focus {
    background: white;
}

.input_err {
    opacity: 0;
    display: block;
    background-color: var(--secondary-color);
    width: 100%;
    color: #ffffff;
    font-style: italic;
    font-weight: 500;
    padding: 3px 20px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input_err.error_show {
    opacity: 1;
}

.w-70 {
    width: 70% !important;
}


