/*
-------------------------------------------
FileName: _common.scss
Component: Presets
-------------------------------------------
*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #eef8ff;
    z-index: 999999999;
    display: flex;
    img {
        margin: auto;
        width: 300px;
    }
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-family: "Helvetica Neue Light";
    font-size: 24px;
    color: $secondary_color;
    line-height: 1.5;
}

.mb-5 {
    margin-bottom: 50px !important;
}

.d-flex {
    display: flex;
}

.content_center {
    justify-content: center;
}

.text_center {
    text-align: center !important;
}

.text_left {
    text-align: left !important;
}

.m_auto {
    margin: auto !important;
}

.w_100 {
    width: 100% !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}
