//    Font Family

$primary-font: "Poppins", sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color: #01ff97;
$secondary-color: #00abff;
$text-color: #000000;
$section-reading: #ffffffcc;

$white: #fff;
$light: #d5d5d5;
$blue: #2200ff;
